*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to left, rgb(0, 225, 255), rgba(223, 111, 223, 0.774));
}

.innerbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(to left, rgba(255, 0, 0, 0.575), yellowgreen);
    box-shadow: -5px -5px 30px yellow, 15px 15px 30px rgb(112, 0, 0);
    border-radius: 30px;
    height: 350px;
    width: 350px;
    
}
#dice{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 200px;
    width: 200px;
    border-radius: 90px 95px 140px 120px;
    box-shadow: 10px 10px 50px rgb(0, 0, 0);
}
#Rollbutton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 7%;
    width: 75px;
    margin-top: 10px;
    background-color: rgb(21, 255, 0);
    border-radius: 5px;
    padding: 5px;
    font-size: 1.2em;
    cursor: pointer;
}
#Rollbutton:hover{
    background-color: rgb(255, 0, 0);
    width: 80px;
    height: 40px;
    cursor:pointer;
    box-shadow: -5px -5px 10px cyan,5px 5px 10px cyan;
    color: white;
    transition: 1s;
}
#sound{
    display: none;
}

#images img{
    position: absolute;
    top: 25%;
    left: 28%;
    height: 150px;
    width: 150px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    animation-name: anime;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-timing-function: linear;
}
#shownum{
    position: absolute;
    left: 50%;
    bottom: 5%;
    color: rgb(0, 0, 0);
    font-size: 2.5em;
    font-family:Geneva;
}
.message{
    font-family: 'Times New Roman',serif;
    letter-spacing: 5px;
    background-image: url("image.png");
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    margin-left: 10%;
    font-weight: 1000;
    font-size: 2.5em;
    animation-name: textcolor;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-iteration-count: 1;
}


@keyframes anime{
    0%{
        transform: rotate(0deg);
    }
    
    100%{
        transform: rotate(360deg);
    }
}
@keyframes textcolor{
    0%{
        background-image: linear-gradient(
     to right,
     #ffffff 0,
            #cb9b51 22%, 
     #f6e27a 45%,
     #f6f2c0 50%,
     #f6e27a 55%,
     #cb9b51 78%,
     #462523 100%
     );
     color:transparent;
    }
    17%{
        background-image: linear-gradient(
     to right,
     #462523 0,
            #ffffff 22%, 
     #f6e27a 45%,
     #f6f2c0 50%,
     #f6e27a 55%,
     #cb9b51 78%,
     #462523 100%
     );
     color:transparent;
    }
    34%{
        background-image: linear-gradient(
     to right,
     #462523 0,
            #cb9b51 22%, 
     #ffffff 45%,
     #f6f2c0 50%,
     #f6e27a 55%,
     #cb9b51 78%,
     #462523 100%
     );
     color:transparent;
    }
    51%{
        background-image: linear-gradient(
     to right,
     #462523 0,
            #cb9b51 22%, 
     #f6e27a 45%,
     #ffffff 50%,
     #f6e27a 55%,
     #cb9b51 78%,
     #462523 100%
     );
     color:transparent;
    }
    68%{
        background-image: linear-gradient(
     to right,
     #462523 0,
            #cb9b51 22%, 
     #f6e27a 45%,
     #f6f2c0 50%,
     #ffffff 55%,
     #cb9b51 78%,
     #462523 100%
     );
     color:transparent;
    }
    85%{
        background-image: linear-gradient(
     to right,
     #462523 0,
            #cb9b51 22%, 
     #f6e27a 45%,
     #f6f2c0 50%,
     #f6e27a 55%,
     #cb9b51 78%,
     #ffffff 100%
     );
     color:transparent;
    }
    100%{
        background-image: linear-gradient(
     to right,
     #462523 0,
            #cb9b51 22%, 
     #f6e27a 45%,
     #f6f2c0 50%,
     #f6e27a 55%,
     #cb9b51 78%,
     #462523 100%
     );
    color:transparent;
    }
}